<hibernate-configuration>
    <session-factory>
        <property name="show_sql">false</property>
        <property name="format_sql">false</property>
        <property name="dialect">org.sqlite.hibernate.dialect.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:db_course_review.sqlite3</property>
        <property name="connection.username">username</property>
        <property name="connection.password">password</property>

        <property name="hibernate.hbm2ddl.auto" >update</property>

        <mapping class="User" />
    </session-factory>
</hibernate-configuration>